/* Base color */
$color-theme = #fc4d56;
$color-theme-light = #ffdfe1;
$color-yellow = #ffbb2a;
$color-orange = #ff8426;
$color-dark-orange = #e3721c;
$color-light-orange = #ffb2a5;
$color-white = #fff;
$color-black = #000;
// // gray
$color-dark-grey = #333;
$color-grey = #666;
$color-light-grey = #999;
$color-light-grey-s = #ccc;
$color-light-grey-ss = #eee;
$color-light-grey-sss = #fcfcfc;
$color-active-grey = #e8e8e8;
// // blue
$color-blue = #26a2ff;
$color-dark-blue = #1e88d7;
$color-blue-opacity = #1e88d7;
// // row line
$color-row-line = #ebebeb;
// // column line
$color-col-line = #f5f5f5;
// / mask
$color-mask-bg = rgba(37, 38, 45, 0.4);