@import './color.styl';

// reset cube-ui
.cube-dialog-content {
  margin: 30px 0;
}

.cube-dialog-main {
  border-radius: 10px;
}

.cube-toast .cube-popup-content {
  color: #fff;
  background-color: rgba(37, 38, 45, 0.7);
  border-radius: 8px;
}

// /reset cube-ui

// base common
#app, body, html {
  height: 100%;
  width: 100%;
}

.base-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  overflow: auto;
  font-size: 14px;
  z-index: 10;
  -webkit-overflow-scrolling: touch;
}

.base-content.fullscreen {
  bottom: 0;
}

.fade-enter-active, .fade-leave-active, .slide-left-enter-active, .slide-left-leave-active, .slide-right-enter-active, .slide-right-leave-active {
  transition: 0.3s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.slide-left-enter, .slide-left-leave-active {
  transform: translate(100%, 0);
}

.slide-right-enter, .slide-right-leave-active {
  transform: translate(-100%, 0);
}

.widthfull {
  width: 100%;
}

.heightfull {
  height: 100%;
}

.minwidth50 {
  min-width: 50px;
}

.width100 {
  width: 100px;
}

.height100 {
  height: 100px;
}

.square88 {
  width: 88px;
  height: 88px;
}

.square100 {
  width: 100px;
  height: 100px;
}

.borderddd {
  border: 1px solid #ddd;
}

.border-beee {
  border-bottom: 1px solid #eee;
}

.border-teee {
  border-top: 1px solid #eee;
}

.bgtheme {
  background: $color-theme;
}

.bgorange {
  background: $color-orange;
}

.ctheme {
  color: $color-theme;
}

.cyellow {
  color: $color-yellow;
}

.corange {
  color: $color-orange;
}

.lh50 {
  line-height: 50px;
}

.pd-t44 {
  padding-top: 44px;
}

.page-t0 {
  margin-top: -44px;
}

.pd-b50 {
  padding-bottom: 50px;
}

.border-radius5 {
  border-radius: 5px;
}

// / base common

// page common
.max640 {
  max-width: 640px;
  margin: 0 auto;
}

.backtop {
  position: fixed;
  right: 15px;
  bottom: 70px;
  width: 30px;
  height: 30px;
  z-index: 9999;
}

.detail-back {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 99;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: #fff;
}

.search-tag {
  float: left;
  color: #999;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-right: 10px;
  margin-bottom: 10px;
}

.border-tag {
  font-weight: lighter;
  color: #fff;
  font-size: 6px;
  padding: 2px 5px 1px 5px;
  margin-right: 5px;
  background: #fff;
  color: $color-theme;
  border: 1px solid $color-theme;
  border-radius: 8px;
}

.sale-num {
  display: inline-block;
  font-size: 12px;
  padding: 3px 5px;
  border: 1px solid #999;
  border-radius: 5px;
  color: #999;
}

.common-slide {
  height: 180px;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
  }

  &.detail-slide {
    height: 300px;
  }

  &.store-slide {
    height: 150px;
  }

  .cube-slide-dots {
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;

    span {
      height: 10px;
      border-radius: 100%;
      border: 1px solid $color-theme;
      background: transparent;

      &.active {
        background: $color-theme;
      }
    }
  }
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 5;
  background: -webkit-linear-gradient(left, $color-orange, $color-theme); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, $color-orange, $color-theme); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, $color-orange, $color-theme); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, $color-orange, $color-theme); /* 标准的语法 */
}

.search-input {
  line-height: 30px;
  border-radius: 22px;
  margin: 6px 0;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.3);

  input {
    width: 100%;
    color: #fff;
    border: none;
    margin-left: 5px;
    outline: none;
    background: transparent;

    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #fff;
      opacity: 1;
    }

    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #fff;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: #fff;
      opacity: 1;
    }

    &::-webkit-input-placeholder {
      color: #fff;
      opacity: 1;
    }
  }
}

.footer-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  text-align: center;
  height: 50px;
  z-index: 99;
}
